* {
  margin-left: 60px;
}
.all {
  margin: 40px;
  margin-left: 60px;
}
div {
  display: inline;
}
.glyphicon {
  color: #333;
  cursor: pointer;
}

button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border:none;
  font-size: 16px;
}

.likebut {
  color:black;
  background-color:lightgreen;
}

.dislikebut {
  color: white;
  background-color:red;
}

.input {
  margin-top: 30px;
}
