<div *ngIf="post">
  <h3>{{ post.title }}</h3>
  <a>{{ post.text }}</a>

  <span
    class="glyphicon glyphicon glyphicon-heart"
    [class.liked]="isActiveLike"
    (click)="like()"
    aria-hidden="true">Like</span>
  &nbsp;
  <span>{{ likesCount }}</span>

  <span
    class="glyphicon glyphicon glyphicon-heart"
    [class.disliked]="isActiveDislike"
    (click)="dislike()"
    aria-hidden="true">Dislike</span>
  &nbsp;
  <span>{{ dislikesCount }}</span>
  <input type="text" [(ngModel)]="text">
  <p>{{text}}</p>
  <button (click)="appendComment(text)">Comment</button>

  <div *ngFor="let comment of comments">
    {{comment}}
  </div>
</div>
