* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.leftheader {
  display: flex;
  height: 50px;
  background-color: black;
  color: white;
}
#logo {
  display: flex;
  margin: 15px;
  margin-left: 60px;
}
a {
  color: white;
  text-decoration:none;
}
.appul {
  font-size: medium;
  display: inline-block;

  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.appuk {
  font-size: medium;
  display: inline;

  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 1040px;
}
