<div id = popcont>
  <div *ngIf="topic">
    <h1>Topic: {{ topic.title }}</h1>
    <p>Write a post</p>

    <input type="text" placeholder="Post title" [(ngModel)]="postTitle">
    <br>
    <br>
    <textarea placeholder="Your opinion.." style="height:200px; width: 500px" [(ngModel)]="postText"></textarea>
    <br>
    <br>
    <button (click)="newPost()">Post</button>
    <br>
    <br>

    <h3>Posts:</h3>
    <div *ngFor="let post of posts">
      <ul><a routerLink="/posts/{{post.id}}" [post] = "post">{{post.name}}</a></ul>
    </div>
  </div>
</div>
